<div class="section gf-form-group">

<div class="gf-form">
  <label class="gf-form-label width-8">Speed step</label>
  <input type="text" class="gf-form-input width-4"
         ng-model="ctrl.panel.step"
         ng-change="ctrl.render()"
         ng-model-onblur>
</div>

<div class="gf-form">
  <label class="gf-form-label width-8">Cake slices</label>
  <input type="text" class="gf-form-input width-4"
         ng-model="ctrl.panel.slices"
         ng-change="ctrl.render()"
         ng-model-onblur>
</div>

</div>
